@media (min-width: 992px) {
  .navbar-mainnavigation .navbar-nav {
    justify-content: end;
  }
}

@media (min-width: 1400px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 150px;
  }
}

button.navbar-toggler:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.navbar-mainnavigation {
  --mainnavigation-link-font-size: 1.375rem;
  --mainnavigation-link-line-height: 1;
  --mainnavigation-link-padding-y: 1.5rem;

  .navbar-brand-image > .navbar-brand-logo-normal {
    display: block;
    -webkit-filter: drop-shadow(0px 1px 1px #f9ee96);
    filter: drop-shadow(0 2px 0px #1c0035) drop-shadow(0px 0px 4px #f9ee96);
    z-index: 9;
  }

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    z-index: 1020;
    max-height: 100vh;
    overflow-y: auto;
    right: 0;
    left: 0;
    box-shadow: none;
    --bs-bg-opacity: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .nav-link:not(.nav-link-toggle) {
      span.nav-link-text,
      .nav-link-social-icon {
        color: #f9ee96;
        background: -webkit-linear-gradient(#f8e07c 33%, #d48334 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.25em;

        filter: drop-shadow(0 -3px 5px #f8e07c) drop-shadow(0 2px 24px #d48334)
          drop-shadow(0 2px 1px #1c0035);

        @media (min-width: 968px) {
          font-size: 1.25rem;
        }
        @media (min-width: 1400px) {
          font-size: 1.5rem;
        }
      }

      &:before {
        border: none;
        transform: unset;
        top: auto;
        background: -webkit-linear-gradient(#f9ee96 10%, #d48334 60%);
        box-shadow: 0 0 23px #f9ee96, 0 0 34px #d48334, 0 2px 2px #1c0035;

        left: 50%;
        height: 3px;
        width: 0;
        opacity: 0.9;
        border-radius: 5px;
        line-height: 2.5rem;
        @include transition(all 150ms ease-in-out);
      }

      &:hover {
        &:before {
          left: 0%;
          width: 100%;
        }
      }
    }

    .nav-link-social {
      gap: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      &:before {
        bottom: 1rem;
        top: auto;
      }
    }

    li.nav-item.nav-item-divider {
      align-content: center;
      span.nav-divider {
        background: -webkit-linear-gradient(#f9ee96 10%, #d48334 60%);
        box-shadow: 0 0 23px #f9ee96, 0 0 34px #d48334, 0 2px 2px #1c0035;
        width: 1px;
        height: 60%;
      }
    }

    &.navbar-transition {
      --bs-bg-opacity: 1;
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
      background-color: #1c0035 !important;

      .navbar-brand-image > .navbar-brand-logo-normal {
        filter: drop-shadow(0px 4px 15px #f9ee96);
      }

      .nav-link:not(.nav-link-toggle) {
      }

      color: #f9ee96;
      background-color: #1c0035 !important;
      background-color: #1c0035 !important;
      box-shadow: 0 2px 2px #18010c, 0 0 40px #f9ee96;
    }
  }

  .navbar-brand-image img {
    max-height: calc(var(--mainnavigation-nav-height) * 0.75);
  }

  nav#mainnavigation {
    @include transition(all 150ms ease-in-out);
    &.collapse:not(.show) {
    }

    &.collapsing {
      opacity: 0;
      bottom: auto;
    }

    &.show {
      @include transition(all 150ms ease-in-out);
      height: calc(100vh);
      display: block;
      background: #1c0035;
      background: radial-gradient(circle at top left, #1c0035 50%, #1c0051 94%);
      background-blend-mode: screen;
      background-blend-mode: screen;

      position: fixed;
      /* margin: 0; */
      /* padding: 0; */
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 5rem 3rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .navbar-nav:before {
        content: "";
        height: 3rem;
      }

      .nav-link:not(.nav-link-toggle) {
        text-align: right;
        align-items: end;
        display: block;
        padding: 1rem;

        span.nav-link-text,
        .nav-link-social-icon {
          font-size: 1.5em;
        }
      }
    }
  }
}

button.navbar-toggler {
  z-index: 99;
  .navbar-toggler-icon,
  .navbar-toggler-icon:before,
  .navbar-toggler-icon:after {
    width: 33px;
    background-image: radial-gradient(
      circle,
      rgb(156, 67, 32) 0%,
      rgb(249, 238, 150) 100%
    ) !important;
    box-shadow: 0px 2px 5px #d48334;
  }

  &.collapsed .navbar-toggler-icon:before {
    top: -8px;
  }
  &.collapsed .navbar-toggler-icon:after {
    top: 8px;
  }
}
