.scroll-top {
  bottom: 10px;
  background: rgb(203, 144, 86);
  background: linear-gradient(-35deg, #d48334 0%, #f9ee96 100%);
  box-shadow: 0px 2px 5px #d48334;
  width: 48px;
  height: 48px;
  z-index: 9;
  .scroll-top-icon:before {
    border-radius: 0.25rem;
    border-top: 5px solid;
    border-left: 5px solid;
    top: 59%;
    left: 56%;
    width: 40%;
    height: 40%;
  }
}
