.card-group-element {
  .card {
    background: #1c0035;

    color: #f9ee96;
    background: -webkit-linear-gradient(#f8e07c 33%, #d48334 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25em;
    filter: drop-shadow(0 -1px 5px #f8e07c) drop-shadow(0 2px 24px #d48334)
      drop-shadow(0 2px 1px #1c0035);
    border: 1px solid #f8e07c;
    .card-body {
      border-top: none;
      border-bottom: none;
    }

    .card-footer {
      border-top: none;

      a.btn.btn-default {
        float: right;
      }
    }
  }
}
