.frame-type-timeline {
  .timeline {
    .timeline-item {
      .timeline-item-inner {
        background: #1f5031;
        border-radius: 5px;

        color: #f9ee96;
        background: -webkit-linear-gradient(#f9ee96 15%, #d48334 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: -webkit-linear-gradient(
          #f9ee96 15%,
          #d48334 100%
        );
        text-shadow: 0 0 5px #fff, 0 0 40px #f9ee96, 0 0 55px #d48334,
          0 2px 2px #1f5031;
        font-size: 1.25em;
        box-shadow: 0 2px 2px #1f5031, 0 0 40px #f9ee96;

        text-align: center;
        padding: 2rem;

        .timeline-item-marker:after,
        .timeline-item-marker:before,
        .timeline-item-marker span,
        .timeline-item-icon:after,
        .timeline-item-icon:before,
        .timeline-item-icon span {
          box-shadow: 0 2px 2px #1f5031, 0 0 30px #f9ee96;
          border-radius: 50%;
        }

        .timeline-item-header {
          .timeline-item-header-headline {
            font-size: 1.5rem;
            color: #f9ee96;
            margin-bottom: 1rem;
          }
        }

        .timeline-item-text {
          color: #f9ee96;
        }
        .timeline-item-date {
          display: none;
        }
      }
    }
  }
}
