//
// Variables
//

.navbar-mainnavigation {
  --mainnavigation-nav-height: 90px;
}

@media (min-width: 576px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 90px;
  }
}

@media (min-width: 768px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 90px;
  }
}

@media (min-width: 992px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 100px;
  }
}

@media (min-width: 1200px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 110px;
  }
}
@media (min-width: 1400px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 110px;
  }
}

:root {
  --bs-body-color: #fff;
  --bs-body-bg: #1c0035;
  --cardgroup-gap: 1.5rem;
}

:root,
[data-bs-theme="light"] {
  --bs-body-font-size: 1.25rem;
}
